.light_beige_back_color {
    background-color: #fef2eb;
}

.beige_back_color {
    background-color: #B1785B;
}

.dark_brown_back_color {
    background-color: #341711;
}

.dark_orange_back_color {
    background-color: #B02008;
}

.brown_back_color {
    background-color: #733E2C;
}